<div class="flow">
  <div class="mail">
    <div class="details">
      <p><span>Created:</span><%= pretty_date(mail.created_at) %></p>
      <p><span>From:</span><%= mail.from %></p>
      <p><span>Subject:</span><%= mail.subject %></p>      
    </div>
    <%= body(mail) %>  
    <%= display_debug(mail) %>  
  </div>

  <% mail.shipments.each do |shipment| %>
    <div class="shipment">
      <div class="details">
        <p><span>Service:</span><%= shipment.service %></p>
        <p><span>Service Type:</span><%= shipment.service_type %></p>
        <p><span>Tracking #:</span><%= shipment.tracking_number %></p>
        <p><span>Route:</span><%= pretty_origin(shipment) %>&rarr;<%= pretty_destination(shipment) %></p>
        <%= display_debug(shipment) %>
      </div>
    
      <ul class="events">
        <% shipment.events.each do |event| %>
          <li>
            <div class="details">
              <p><span>When</span><time><%= event.event_date %><%= event.event_time %></time><time datetime="<%= event.occurred_at %>" class="when"><%= pretty_date(event.occurred_at) %></time></p>
              <p><span>Status</span><%= pretty_status(shipment, event) %></p>
              <p><span>Notified</span><%= pretty_date(event.notified_at) %></p>
              <%= display_debug(event) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>