<%= form_for :shipment, @shipment, :url => {:action => "create"} do |f| %>
  <% if @shipment.errors.any? %>
    <ul>
      <% @shipment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= f.label :tracking_number %>
    <%= f.text_field :tracking_number %>
  </p>
  <p><%= f.submit %></p>
<% end %>
