<!DOCTYPE html>
<html>
<head>
  <title>Box Watch</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= body_classes %>">
<header>
  <h1>boxwat.ch</h1>
  <nav></nav>
</header>
<%= yield %>
<footer>
  
</footer>
</body>
</html>
